body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #26272d;
}

img {
  max-width: 100%;
}

.inner-container {
  max-width: 1200px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header .inner-container {
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  vertical-align: middle;
}

.header-menu {

}

.header-menu a {
  font-size: 16px;
  color: #26272d;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.2s opacity;
}

.header-menu--left a:last-child {
  margin-right: 0;
}

.header-menu--right a:last-child {
  margin-right: 0;
}

.header-menu a:hover {
  opacity: 0.8;
}

a.header-link--disabled {
  color: #b5b5b6;
  cursor: default;
}

a.header-link--disabled:hover {
  opacity: 1;
}

a.header-link--app {
  background-color: #267df4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

a.header-link--app i.fa-apple {
  margin-right: 10px;
}


.splash {
  background-image: url('../img/banner_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 90px;
}

.splash-title {
  max-width: 800px;
  margin: auto;
  margin-bottom: 55px;
  font-size: 62px;
  font-weight: 500;
  text-align: center;
}

.splash-text {
  max-width: 800px;
  margin: auto;
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
  color: #8c8f94;
}

.splash-button {
  margin-bottom: 55px;
  text-align: center;
}

.splash-button a {
  text-decoration: none;
  color: #26272d;
  padding: 15px 40px;
  border: 1px solid #dadcde;
  border-radius: 40px;
  transition: 0.2s opacity;
}

.splash-button a:hover {
  opacity: 0.8;
}

.splash-button a i.fa-play {
  margin-right: 14px;
  font-size: 13px;
}

.splash-phone {
  height: 450px;
  overflow: hidden;
  text-align: center;
}


.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .inner-container {
  display: flex;
}

.features-item {
  width: 50%;
}

.features-item:nth-child(1) {
  padding-right: 5%;
}

.features-item:nth-child(2) {
  padding-left: 5%;
}

.features-item-icon {
  margin-bottom: 35px;
}

.features-item-icon--alarm {
  width: 40px;
}

.features-item-icon--lock {
  width: 42px;
}

.features-item-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}

.features-item-text {
  font-size: 18px;
  color: #8c8f94;
}

