body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #26272d;
}

input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 62px;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
}

h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

a {
  transition: 0.2s opacity;
}

a:hover {
  opacity: 0.8;
}

.button-small {
  padding: 8px 18px;
  border: 1px solid #e9e9ea;
  border-radius: 18px;
  text-decoration: none;
  color: #26272d;
  outline: none;
  cursor: pointer;
  transition: 0.2s opacity;
  will-change: transform;
}

.button-small:hover {
  opacity: 0.8;
}

.button-small--blue {
  border-color: transparent;
  background-color: #267df4;
  color: #fff;
}

.button-small--green {
  border-color: transparent;
  background-color: #6fc754;
  color: #fff;
}

.inner-container {
  max-width: 1200px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
  transition: 0.2s all;
}

.header.is-scrolling {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 5px #eee;
}

.header .inner-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  font-size: 16px;
  color: #26272d;
  text-decoration: none;
  margin-right: 30px;
  /* transition: 0.2s opacity; */
}

.header-menu--left a:last-child {
  margin-right: 0;
}

.header-menu--right a:last-child {
  margin-right: 0;
}

/* .header-menu a:hover {
  opacity: 0.8;
} */

a.header-link--disabled {
  color: #b5b5b6;
  cursor: default;
}

a.header-link--disabled:hover {
  opacity: 1;
}

a.header-link--app {
  color: #fff;
}

a.header-link--app i.fa-apple {
  margin-right: 10px;
}


.splash {
  background-image: url('../img/banner_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* padding-top: 90px; */
  padding-top: 240px;
}

.splash-title {
  max-width: 800px;
  margin: auto;
  margin-bottom: 55px;
  text-align: center;
}

.splash-text {
  max-width: 800px;
  margin: auto;
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
  color: #8c8f94;
}

.splash-button {
  margin-bottom: 55px;
  text-align: center;
}

.splash-button a {
  padding: 15px 40px;
  border: 1px solid #dadcde;
  border-radius: 40px;
}

.splash-button a i.fa-play {
  margin-right: 14px;
  font-size: 13px;
}

.splash-phone {
  height: 450px;
  overflow: hidden;
  text-align: center;
}


.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .inner-container {
  display: flex;
}

.features-item {
  width: 50%;
}

.features-item:nth-child(1) {
  padding-right: 5%;
}

.features-item:nth-child(2) {
  padding-left: 5%;
}

.features-item-icon {
  margin-bottom: 35px;
}

.features-item-icon--alarm {
  width: 40px;
}

.features-item-icon--lock {
  width: 42px;
}

.features-item-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}

.features-item-text {
  font-size: 18px;
  color: #8c8f94;
}


.phone {
  padding-bottom: 220px;
}

.phone .inner-container {
  display: flex;
}

.phone-item--image {
  width: 55%;
  padding-right: 5%;
  position: relative;
}

.phone-item--image img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: none;
}

.phone-item--text {
  width: 45%;
  padding-left: 5%;
  padding-top: 130px;
  padding-bottom: 250px;
}

.phone-item-title {
  margin-bottom: 50px;
}

.phone-item-text {
  margin-bottom: 70px;
  font-size: 20px;
  color: #8c8f94;
}

.phone-item-button--hack {
  margin-right: 20px;
}

.phone-item-button--hack i.fa-arrow-right {
  padding-left: 30px;
  font-size: 12px;
  position: relative;
  top: -1px;
}

/*  */

.map {
  padding-bottom: 220px;
  overflow: hidden;
}

.map .inner-container {
  display: flex;
}

.map-item--image {
  width: 55%;
  position: relative;
}

.map-item--image img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: none;
}

.map-item--text {
  width: 45%;
  padding-right: 5%;
}

.map-item-title {
  margin-bottom: 50px;
}

.map-item-text {
  margin-bottom: 70px;
  font-size: 20px;
  color: #8c8f94;
}

.map-item-partners {
  display: flex;
  flex-wrap: wrap;
}

.map-item-partners-title {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.map-item-partners-logo {
  margin-right: 30px;
}


.interface {
  position: relative;
  padding-top: 140px;
  padding-bottom: 180px;
  background-color: #f5f5f8;
  overflow: hidden;
}

.interface-title {
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}

.interface-title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 2px;
  background-color: #267df4;
}

.interface-subtitle {
  padding-top: 40px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8f94;
}

.interface-phone {
  text-align: center;
}

.interface-phone-main {

}

.interface-phone-image-wrap {
  position: absolute;
  /* width: 100%; */
  /*height: 600px;*/ /* without height, children's box-shadows will be cut due to overflow:hidden */
  top: 418px;
  left: 0;
  right: 0;
  margin: auto;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  margin-left: -500px;
  margin-right: -500px;
  /* overflow: hidden; */
  text-align: center;
}

.interface-phone-image {
  /* width: 320px;
  height: 568px; */
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 5px 5px 20px #ccc;
}

.interface-phone-image--current {
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: none;
}


.email {
  padding-bottom: 120px;
  background-color: #f5f5f8;
}

.email-title {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 400;
}

.email-subtitle {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8f94;
  padding-bottom: 35px;
}

.email-form {
  text-align: center;
}

.email-form-inner {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #cbcbce;
  border-radius: 25px;
  background-color: #f5f5f8;
  text-align: left;
}

.email-form input {
  padding: 8px 18px;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  min-width: 300px;
}

.email-form .button-small i.fa-arrow-right {
  padding-left: 10px;
}


.customers {
  padding-top: 120px;
  padding-bottom: 85px;
}

.customers .slider {
  width: 580px;
  margin: auto;
  position: relative;
}

.customers .slider-arrow {
  position: absolute;
  top: 50px;
  font-size: 24px;
  color: #d4d4d5;
  cursor: pointer;
}

.customers .slider-arrow--left {
  left: 0;
  margin-left: -150px;
}

.customers .slider-arrow--right {
  right: 0;
  margin-right: -150px;
}

.customers .slider-photos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.customers .slider-photo {
  transform: scale(0.7);
  opacity: 0.5;
  transition: 0.5s all;
  cursor: pointer;
}

.customers .slider-photo--current {
  transform: scale(1);
  opacity: 1;
  cursor: default;
}

.customers .slider-photo img {
  border-radius: 50%;
  transition: 0.5s all;
}

.customers .slider-photo--current img {
  box-shadow: 15px 25px 35px #ccc;
}

.customers .slider-text-container {
  overflow: hidden;
}

.customers .slider-text-container-inner {
  display: flex;
  transition: 0.5s transform;
}

.customers .slider-text {
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}

.customers .slider-text-title {
  padding-bottom: 45px;
}

.customers .slider-text-message {
  padding-bottom: 25px;
  color: #8c8f94;
}

.customers .slider-text-rating {
  padding-bottom: 55px;
  font-size: 22px;
}

.customers .slider-text-rating .fa-star {
  color: #f2bc3b;
}

.customers .slider-text-rating .fa-star--empty {
  color: #ccc;
}

.customers .slider-text-name {
  font-size: 12px;
  text-transform: uppercase;
}


.footer {
  padding-bottom: 150px;
}

.footer .inner-container {
  padding-top: 100px;
  border-top: 1px solid #f4f4f4;
  position: relative;

  display: flex;
}

.footer-column {
  width: 20%;
}

.footer-column:nth-child(1) {
  width: 80%;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-description {
  max-width: 260px;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1.8;
  color: #8c8f94;
}

.footer-social {
  display: flex;
}

.footer-social a {
  margin-right: 22px;
  color: #bdbec0;
  /* transition: 0.2s opacity; */
}

.footer-social a:hover {
  /* opacity: 0.8; */
}

.footer-column-title {
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  font-size: 16px;
  color: #8c8f94;
}

.footer-links > div {
  margin-bottom: 15px;
}

.footer-links a {
  color: #8c8f94;
  /* transition: 0.2s opacity; */
  text-decoration: none;
}

.footer-links a:hover {
  /* opacity: 0.8; */
}


.modal-overlay {
  z-index: 500;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-50%);
  background-color: #fff;
  color: #000;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.modal-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

/* @media (min-width: 568px) {
  .modal-title {
    font-size: 34px;
  }
} */

.modal-button {
  text-align: center;
}