body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #26272d;
}

input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 62px;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
}

.button-small {
  padding: 8px 18px;
  border: 1px solid #e9e9ea;
  border-radius: 18px;
  text-decoration: none;
  color: #26272d;
  outline: none;
  cursor: pointer;
  transition: 0.2s opacity;
}

.button-small:hover {
  opacity: 0.8;
}

.button-small--blue {
  border-color: transparent;
  background-color: #267df4;
  color: #fff;
}

.button-small--green {
  border-color: transparent;
  background-color: #6fc754;
  color: #fff;
}

.inner-container {
  max-width: 1200px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}


.header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header .inner-container {
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  vertical-align: middle;
}

.header-menu {

}

.header-menu a {
  font-size: 16px;
  color: #26272d;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.2s opacity;
}

.header-menu--left a:last-child {
  margin-right: 0;
}

.header-menu--right a:last-child {
  margin-right: 0;
}

.header-menu a:hover {
  opacity: 0.8;
}

a.header-link--disabled {
  color: #b5b5b6;
  cursor: default;
}

a.header-link--disabled:hover {
  opacity: 1;
}

a.header-link--app {
  color: #fff;
}

a.header-link--app i.fa-apple {
  margin-right: 10px;
}


.splash {
  background-image: url('../img/banner_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 90px;
}

.splash-title {
  max-width: 800px;
  margin: auto;
  margin-bottom: 55px;
  text-align: center;
}

.splash-text {
  max-width: 800px;
  margin: auto;
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
  color: #8c8f94;
}

.splash-button {
  margin-bottom: 55px;
  text-align: center;
}

.splash-button a {
  padding: 15px 40px;
  border: 1px solid #dadcde;
  border-radius: 40px;
}

.splash-button a i.fa-play {
  margin-right: 14px;
  font-size: 13px;
}

.splash-phone {
  height: 450px;
  overflow: hidden;
  text-align: center;
}


.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .inner-container {
  display: flex;
}

.features-item {
  width: 50%;
}

.features-item:nth-child(1) {
  padding-right: 5%;
}

.features-item:nth-child(2) {
  padding-left: 5%;
}

.features-item-icon {
  margin-bottom: 35px;
}

.features-item-icon--alarm {
  width: 40px;
}

.features-item-icon--lock {
  width: 42px;
}

.features-item-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}

.features-item-text {
  font-size: 18px;
  color: #8c8f94;
}


.phone {
  padding-bottom: 220px;
}

.phone .inner-container {
  display: flex;
}

.phone-item--image {
  width: 55%;
  padding-right: 5%;
  position: relative;
}

.phone-item--image img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: none;
}

.phone-item--text {
  width: 45%;
  padding-left: 5%;
  padding-top: 130px;
  padding-bottom: 250px;
}

.phone-item-title {
  margin-bottom: 50px;
}

.phone-item-text {
  margin-bottom: 70px;
  font-size: 20px;
  color: #8c8f94;
}

.phone-item-button--hack {
  margin-right: 20px;
}

.phone-item-button--hack i.fa-arrow-right {
  padding-left: 30px;
  font-size: 12px;
  position: relative;
  top: -1px;
}

/*  */

.map {
  padding-bottom: 220px;
  overflow: hidden;
}

.map .inner-container {
  display: flex;
}

.map-item--image {
  width: 55%;
  position: relative;
}

.map-item--image img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: none;
}

.map-item--text {
  width: 45%;
  padding-right: 5%;
}

.map-item-title {
  margin-bottom: 50px;
}

.map-item-text {
  margin-bottom: 70px;
  font-size: 20px;
  color: #8c8f94;
}

.map-item-partners {
  display: flex;
  flex-wrap: wrap;
}

.map-item-partners-title {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.map-item-partners-logo {
  margin-right: 30px;
}


.interface {
  position: relative;
  padding-top: 140px;
  padding-bottom: 180px;
  background-color: #f5f5f8;
  overflow: hidden;
}

.interface-title {
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}

.interface-title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 2px;
  background-color: #267df4;
}

.interface-subtitle {
  padding-top: 40px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8f94;
}

.interface-phone {
  text-align: center;
}

.interface-phone-main {

}

.interface-phone-image-wrap {
  position: absolute;
  /* width: 100%; */
  /*height: 600px;*/ /* without height, children's box-shadows will be cut due to overflow:hidden */
  top: 418px;
  left: 0;
  right: 0;
  margin: auto;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  margin-left: -500px;
  margin-right: -500px;
  /* overflow: hidden; */
  text-align: center;
}

.interface-phone-image {
  /* width: 320px;
  height: 568px; */
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 5px 5px 20px #ccc;
}

.interface-phone-image--current {
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: none;
}


.email {
  padding-bottom: 120px;
  background-color: #f5f5f8;
}

.email-title {
  text-align: center;
  padding-bottom: 50px;
}

.email-subtitle {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8f94;
}

.email-form {
  text-align: center;
}

.email-form-inner {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #cbcbce;
  border-radius: 25px;
  background-color: #f5f5f8;
  text-align: left;
}

.email-form input {
  padding: 8px 18px;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  outline: none;
}

.email-form .button-small i.fa-arrow-right {
  padding-left: 10px;
}

